<!-- Estilos  -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
<!-- Header -->
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="h1-large">DREAM RACING TRAVELS</h1>
                    <br><br>
                    <p class="h1-large">Tu asistente en F1 y viajes</p>
                    <br>
                    <a class="btn-solid-lg" [routerLink]="['/current']">Consultar Temporada Actual</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Banner -->
    <div id="banner" class="banner"></div>
    <!-- Final de banner -->

</header>