<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-col first">
                    <h6>Dream Racing Travels</h6>
                    <p class="p-small">Carreras brruum</p>
                </div>
                <div class="footer-col second">
                    <h6>Links</h6>
                    <ul class="list-unstyled li-space-lg p-small">
                        <li>Important: <a [routerLink]="['/home']">Terms & Conditions</a>, <a [routerLink]="['/home']">Privacy Policy</a></li>
                        <li>Useful: <a [routerLink]="['/home']">Races</a>, <a [routerLink]="['/home']">Images</a>, <a [routerLink]="['/home']">Authors</a></li>
                        <li>Menu: <a [routerLink]="['/home']">Home</a>, <a [routerLink]="['/contact']">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-col third">
                    <p class="p-small">We would love to hear from you <a [routerLink]="['']"><strong>contact@site.com</strong></a></p>
                </div>
            </div> 
        </div> 
    </div> 
</div>

 <!-- Copyright -->
 <div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">Copyright © <a [routerLink]="['/home']">DreamRacingTravels</a></p>
            </div>
        </div>
    </div> 
</div>