<app-header></app-header>
<div id="services" class="basic-2" align="center">
    <h1>Hoteles<br>Disponibles</h1>
</div>
<div id="services" class="basic-1" align="center">
    <br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h3>Carrera</h3>
                <h1>{{ nombreCarrera | uppercase}}</h1>
                <hr>
                <h5>{{ estadoCarrera}} - {{ paisCarrera }}</h5>
            </div>
            <div class="col-lg-5">
                <div class="text-container">
                    <h3>Circuito</h3>
                    <p><a href="{{ infoCircuito }}" target="_blank">{{ circuitoCarrera }}</a></p>
                </div>
            </div>
            <div>
                <br><br><br>
                <h5>{{ fechaCarrera }}</h5>
                <h5>{{ horaCarrera }}</h5>
                <br><br><br>
            </div>
        </div>
    </div>
    <div id="services" class="basic-3"  *ngFor="let item of hoteles; let indice=index" align="center">
        <hr style="border-color: white;" width="90%">
        <br><br><br><br><br>
        <div class="container">
            <div class="row">
                <div>
                    <h3>Hotel</h3>
                    <h1>{{ hoteles[indice].nombre | uppercase}}</h1>
                    <hr>
                    <h5>{{ hoteles[indice].localizacion }} - {{ hoteles[indice].idpais }}</h5>
                    <h5>Valoraciones: {{ hoteles[indice].criticas }}</h5>
                </div>
                <div>
                    <br><br><br>
                    <h5>Total de hoteles en la zona: {{ hoteles[indice].hoteles }}</h5>
                    <h5>{{ hoteles[indice].iatas }}</h5>
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>
